
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
    0%{
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes rotatingAnimationX {
    0%{
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @-webkit-keyframes rotatingAnimationY {
    0%{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotatingAnimationY {
    0%{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes rotatingAnimationZ {
    0%{
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  @keyframes rotatingAnimationZ {
    0%{
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 0, 0, 1);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    letter-spacing: .1em;
  }
  .two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
    padding:1rem;
}
  a {
    color: inherit;
    text-decoration: none;
  }
  .container {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container > div {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .boockup {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .book-container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: 10s rotatingAnimationY linear infinite;
    animation: 10s rotatingAnimationY linear infinite;
  }
  .book-container > div {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .book-top, .book-bottom, .book-side-right {
    background-size: auto auto;
    background-repeat: repeat;
    background-position: top left;
  }
  .book-front {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654567/original_a1810c79b6cc8518e4b2b0bc172121ba.jpg?1683059130?bc=0');
    width: 400px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0,0,0) rotateY(0deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0,0,0) rotateY(0deg);
  }
  .book-side-left {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654562/original_4dcda1fa106d6957a59575887f2a2f26.jpg?1683059128?bc=0');
    width: 58px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(-29px, 0, -29px) rotateY(-90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(-29px, 0, -29px) rotateY(-90deg);
  }
  .book-side-right {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654572/original_b6d690b7ee7d6620e2b731ab471e27c5.jpg?1683059149?bc=0');
    width: 58px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(371px, 0px,-29px) rotateY(90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(371px, 0px,-29px) rotateY(90deg);
  }
  .book-top {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654571/original_a1162f4c343df25259b4a487103debb2.jpg?1683059149?bc=0');
    background-position: bottom right;
    width: 400px;
    height: 58px;
    -webkit-transform: translate3d(-200px, -200px ,29px) translate3d(0px, -29px, -29px) rotateX(90deg);
    transform: translate3d(-200px, -200px ,29px) translate3d(0px, -29px, -29px) rotateX(90deg);
  }
  .book-bottom {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654571/original_a1162f4c343df25259b4a487103debb2.jpg?1683059149?bc=0');
    width: 400px;
    height: 58px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0px, 371px, -29px) rotateX(-90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0px, 371px, -29px) rotateX(-90deg);
  }
  .book-back {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654566/original_e6fe18bd351ecaafe5e65b8d140435da.jpg?1683059129?bc=0');
    width: 400px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0,0, -58px) rotateY(180deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0,0, -58px) rotateY(180deg);
  }
  #credit {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: .3rem 1rem;
    width: 21rem;
    height: 20px;
    -webkit-transition: background .2s;
    transition: background .2s;
  }
  #credit:hover {
    background-color: #d8d8d8;
  }
      
  .container-2 {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20vw;
    margin-top: -60vh;
  }
  .container-2 > div {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .boockup-2 {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .book-container-2 {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: 10s rotatingAnimationY linear infinite;
    animation: 10s rotatingAnimationY linear infinite;
  }
  .book-container-2 > div {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .book-top2, .book-bottom2, .book-side-right2 {
    background-size: auto auto;
    background-repeat: repeat;
    background-position: top left;
  }
  .book-front2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654565/original_011df58f0e5802b0a7a752bbd8f5eeb7.jpg?1683059131?bc=0');
    width: 400px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0,0,0) rotateY(0deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0,0,0) rotateY(0deg);
  }
  .book-side-left2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654563/original_b911b00ae4a9e58931acce1a4d6ffb9e.jpg?1683059128?bc=0');
    width: 58px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(-29px, 0, -29px) rotateY(-90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(-29px, 0, -29px) rotateY(-90deg);
  }
  .book-side-right2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654572/original_b6d690b7ee7d6620e2b731ab471e27c5.jpg?1683059149?bc=0');
    width: 58px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(371px, 0px,-29px) rotateY(90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(371px, 0px,-29px) rotateY(90deg);
  }
  .book-top2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654571/original_a1162f4c343df25259b4a487103debb2.jpg?1683059149?bc=0');
    background-position: bottom right;
    width: 400px;
    height: 58px;
    -webkit-transform: translate3d(-200px, -200px ,29px) translate3d(0px, -29px, -29px) rotateX(90deg);
    transform: translate3d(-200px, -200px ,29px) translate3d(0px, -29px, -29px) rotateX(90deg);
  }
  .book-bottom2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654571/original_a1162f4c343df25259b4a487103debb2.jpg?1683059149?bc=0');
    width: 400px;
    height: 58px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0px, 371px, -29px) rotateX(-90deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0px, 371px, -29px) rotateX(-90deg);
  }
  .book-back2 {
    background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/21654564/original_272c9d33c7fe7248e97c9522eeedef28.jpg?1683059129?bc=0');
    width: 400px;
    height: 400px;
    -webkit-transform: translate3d(-200px ,-200px ,29px) translate3d(0,0, -58px) rotateY(180deg);
    transform: translate3d(-200px ,-200px ,29px) translate3d(0,0, -58px) rotateY(180deg);
  }
  #credit {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: .3rem 1rem;
    width: 21rem;
    height: 20px;
    -webkit-transition: background .2s;
    transition: background .2s;
  }
  #credit:hover {
    background-color: #d8d8d8;
  }
        