body{
    background-color: black;
    color:beige;
}
.wrapper{
    display: grid;
    gap: 0px;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(15, 1fr);
    /* outline: 5px solid rgb(255, 0, 0); */
}
div.vector-one{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 1;
grid-row: 1 / 5;
}
div.vector-two{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 2;
grid-row: 1 / 5;
}
div.vector-three{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 3;
  grid-row: 1 / 5;
  }
div.vector-four{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 4;
grid-row: 1 / 5;
}
div.vector-five{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 5;
  grid-row: 1 / 5;
  }
div.vector-six{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 1;
grid-row: 5 / 10;
}
div.vector-seven{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 2;
grid-row: 5 / 10;
}
div.vector-eight{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 3;
  grid-row: 5 / 10;
  }
div.vector-nine{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 4;
grid-row: 5 / 10;
}
div.vector-ten{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 5;
  grid-row: 5 / 10;
  }
div.vector-eleven{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 1;
grid-row: 10 / 15;
}
div.vector-twelve{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 2;
grid-row: 10 / 15;
}
div.vector-thirteen{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 3;
  grid-row: 10 / 15;
  }
div.vector-fourteen{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 4;
grid-row: 10 / 15;
}
div.vector-fifteen{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 5;
  grid-row: 10 / 15;
  }

div.middle{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column-start: 6;
grid-column-end: 10;
grid-row: 1;
align-self: center;
}
div.vector-a{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 11;
grid-row: 1 / 5;
}
div.vector-b{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 12;
grid-row: 1 / 5;
}
div.vector-c{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 13;
  grid-row: 1 / 5;
  }
div.vector-d{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 14;
grid-row: 1 / 5;
}
div.vector-e{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 15;
  grid-row: 1 / 5;
  }
div.vector-f{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 11;
grid-row: 5 / 10;
}
div.vector-g{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 12;
grid-row: 5 / 10;
}
div.vector-h{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 13;
  grid-row: 5 / 10;
  }
div.vector-i{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 14;
grid-row: 5 / 10;
}
div.vector-j{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 15;
  grid-row: 5 / 10;
  }
div.vector-k{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 11;
grid-row: 10 / 15;
}
div.vector-l{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 12;
grid-row: 10 / 15;
}
div.vector-m{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 13;
  grid-row: 10 / 15;
  }
div.vector-n{
position: relative;
display: grid;
border-style: solid;
border-width: 2px;
border-color: #FFFFFF;
grid-column: 14;
grid-row: 10 / 15;
}
div.vector-o{
  position: relative;
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  grid-column: 15;
  grid-row: 10 / 15;
  }




