
@font-face {
  font-family: 'CirrusCumulus';
  src: url('fonts/CirrusCumulus.otf') format('otf'),
        url('fonts/CirrusCumulus.ttf') format('ttf'),
        url('fonts/CirrusCumulus.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body{
    background-color: black;
    color:beige;
    font: 'CirrusCumulus';
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 100%;
}

a {
  text-decoration: none;
  color: beige;
  border-bottom: 3px solid beige;
  font-family: source-han-serif-japanese, serif;
  font-size: 3vw;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:link {
  color: beige;
  font-family: source-han-serif-japanese, serif;
}
a:visited {
  color: beige;
  font-family: source-han-serif-japanese, serif;
}
a:hover {
  color: beige;
  text-shadow: 0 0 5px beige(95, 95, 86);
  font-family: source-han-serif-japanese, serif;
  font-weight: bold;
  font-size: 3.5vw;
  color: #f3cb49;
  text-shadow:0px 0px 50px #f0c66c;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:active {
  color: beige;
  font-family: source-han-serif-japanese, serif;
}

.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  font-size: 10vw;
  margin-left: -4vw;
  mix-blend-mode: difference;
  font-family: 'CirrusCumulus';
  animation: fadeInAnimationTwo ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.two{
  width: auto;
            margin: 1vw;
            text-align: justify;
            line-height: 2vw;

  font-weight:normal;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  animation: fadeInAnimationTwo ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.three{
  width: auto;
            margin: 1vw;
            margin-left: 66vw;
            text-align: justify;
            line-height: 2vw;

  font-weight:normal;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  animation: fadeInAnimationTwo ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footer{
  display: flex;
  height:1vw;
  align-content: space-between;
  margin-top: -4vw;
  margin-left: 0vw;
}



.wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
height: 80vh;
margin: 10vh;
font: 'CirrusCumulus';
}
.first_entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  animation: fadeInAnimation ease 14s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.first_entry_first {
display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 2px solid beige;
    padding: 0px;
    width: 5vw;
}

.first_entry_second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;

}

.first_entry_third {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.first_entry_fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.first_entry_fifth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.second_entry {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.second_entry_first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid beige;
}

.second_entry_second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid beige;
}

.second_entry_third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid beige;
}

.second_entry_fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid beige;
}

.second_entry_fifth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid beige;
}

.third_entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  animation: fadeInAnimation ease 14s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.third_entry_first {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.third_entry_second {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.third_entry_third {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.third_entry_fourth {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}

.third_entry_fifth {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 2px solid beige;
  padding: 0px;
  width: 5vw;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  50% {
     opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
@keyframes fadeInAnimationTwo {
  0% {
      opacity: 1;
  }
  50% {
     opacity: 1;
  }
  100% {
      opacity: 0;
   }
}