@font-face {    font-family: 'abc-favorit-extended';
    src: url('/fonts/dinamofonts/ABCFavoritExtended-Light-Trial.woff') format('woff'),
        url('/fonts/dinamofonts/ABCFavoritExtended-Light-Trial.woff2') format('woff2');
  
    font-weight: light;
    font-style: normal;
  } 
  @font-face {
    font-family: 'abc-favorit-extended';
    src: url('/fonts/dinamofonts/ABCFavoritExtended-Bold-Trial.woff') format('woff'),
          url('/fonts/dinamofonts//ABCFavoritExtended-Bold-Trial.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: normal;
  }
  @font-face {
    font-family: 'HoneyDemo';
    src: url('/fonts/randomfonts/HoneyDemo-Light.eot');
    src: url('/fonts/randomfonts/HoneyDemo-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/randomfonts/HoneyDemo-Light.woff') format('woff'),
         url('/fonts/randomfonts/HoneyDemo-Light.ttf') format('truetype'),
         url('/fonts/randomfonts/HoneyDemo-Light.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }  
  @font-face {
    font-family: F16;
    src: url("../SubSkipper/F16_Panel Font.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
