*  body {
    background-color: #fff;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }
  
  ul {
    padding-left: 0.423728813559322vw;
    list-style: none;
    font-size: 1em;
    margin-top: 0;
  }

.name{
    padding-left: 0px;
    min-width: 50%;
    height: 2vw;
    font-size: 1.5em;
    text-align: left;
    line-height:  1em;

    /* border-bottom-color: black;
    border-bottom-style: solid;
    border-right-color: black;
    border-right-style: solid;
    border-width:  0.07062146892655367vw; */

}
  .container {
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0vw;
    font-weight: 400;
    
  }
/* #marquee{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1vh;
    white-space: nowrap;
    min-width: 100%;
    line-height:  1.5em;
} */
  
  .header {
    min-width: 50%;
    height: 2vw;
    font-size: 2em;
    text-align: center;
    grid-column-end: -1;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 0.07062146892655367vw;
    font-weight: 400;
  }
  
  .container > * {
    padding: 1.1299435028248588vw;
  }
  .sidebar{
    /* border-right-color: black;
    border-right-style: solid;
    border-width: 0.07062146892655367vw; */
    padding-left: 1em;
  }
  
  @media (max-width: 800px) {
    .container {
      grid-template-columns: none;
    }
  }
.title{
    font-size: 0.7062146892655368vw;
}
.project{
    font-size: 1.5em;
}
.description{
    margin: 1em;
}

p{
 font-size: .5em;
 width: 40vw;
}

.main a p {display:none;}
.main a:hover p {display:block;}
.main a:hover {display:block;}

.sidebar-two{
    border-right-color: black;
    border-right-style: solid;
    border-top-color: black;
    border-top-style: solid;
    border-width: 0.07062146892655367vw;
    padding-left: 1em;
  }
.days{
    font-size: 1.5em;
    line-height:  1em;
    height: 4em;

    border-right-color: black;
    border-right-style: solid;
    border-top-color: black;
    border-top-style: solid;
    border-width: 0.07062146892655367vw;
    padding-left: 1em;
}
.main-two{
    border-top-color: black;
    border-top-style: solid;
    border-width: 0.07062146892655367vw;
}
span#cntdwn {
    display: flex;
    color: black;
    width: 10.169491525423728vw;
    line-height: 10.169491525423728vw;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    border-width: 0.07062146892655367vw;
  }

.footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    border-top-color: black;
    border-top-style: solid;
    border-width: 0.07062146892655367vw;

    font-style:oblique;
    font-weight: 100;
  }

  a:link {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: rgb(133, 133, 133);
    text-decoration: solid;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
 