#grid1 { 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    }
  #grid1 > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
  }
  #grid2 { 
    display: grid;
    grid-template-rows: 6fr;
    grid-template-columns: 6fr;
    grid-gap: 2vw;
    }
  #grid2 > div {
    font-size: 5vw;
    padding: .5em;
    background: rgb(0, 255, 21);
    text-align: center;
  }