@font-face {
    font-family: "Kulture";
    src: url('./assets/fonts/kaotizm-regular.woff') format('woff');
    /* src: url('./assets/fonts/kaotizm-italik.woff') format('woff');  */
    src: url('./assets/fonts/kaotizm-bold.woff') format('woff');
    /* src: url('./assets/fonts/kaotizm-bold-italic.woff') format('woff'); */
}
@font-face {
    font-family: "Kulture Italic";
    src: url('./assets/fonts/kaotizm-italik.woff') format('woff'); 
    src: url('./assets/fonts/kaotizm-bold-italic.woff') format('woff');
}

body{
    background-color: white;
    color: black;
    font-family: "Kulture";
    font-family: 'Inter', sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
}
.wrapper-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2vw;
    margin-top: 0;
  }
  .nav {
    width: 3vw;
    height: 5vh;
  }
  .nav:hover{
    cursor: pointer;
  }

.credits{
    grid-column: 1 / -1;
    grid-row: 1;
    height: 4.7vh;
    margin-top: -3vh;


    font-size: 2vw;
    font-family: "Kulture";
    border-bottom: black;
    border-bottom-style: solid;
    
} 

.title{
    font-size: 12.2vw;
    font-family: "Kulture";
    font-style: normal;
    line-height: 18.7vh;
    grid-column: 1 / 4;
    grid-row: 2;
    z-index: 1;
    /* margin-left: 2vw; */
    margin-right: 15vw;
    margin-top: -8vh;
    
}
.description{
    font-family: 'Inter';
    font-size: 1.25vw;
    grid-column: 1 / 4;
    grid-row: 3;
    text-align: justify;

    margin-top: 1vh;
    margin-right: 16vw;

}
.gif{
    grid-column: 3;
    grid-row: 1;
    width: 1vw;
    height: 1vh;
  
    margin-left: 14vw;
    margin-top: 3vh;
}
.break{
    grid-column: 1 / -1;
    grid-row: 5 / 7;
    background-color: black;
}
.break img  {
    grid-column: 1 / -1;
    margin: 7vw;
    filter: blur(5px)
  }
.break img:hover  {
    grid-column: 1 / -1;
    margin: 7vw;
    filter: blur(0);
}

.filter-title{
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: 5vw;
    font-family: "Kulture";
    font-style: normal;
    margin-left: 5vw;
}
.filter-description{
    grid-column: 1 / -1;
    grid-row: 3;
    font-size: 1.5vw;
    font-family: 'Inter';
    font-weight: lighter;
    margin-left: 4vw;
    margin-right: 5vw;
    margin-bottom: -10vh;
    text-align: center ;
}

#container {
    grid-row: 8;
    margin: auto;
    width: 90vw;
    height: 2vh;
    top: 0;
    bottom: 0;
    margin-right: 2vw;
    margin-top: 6vh;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 90vw;
    display: inline-block;
    margin-left: -2vw;
    margin-top: 6vh;

    font-family: "Kulture";
    font-size: 15vw;

    text-align: center;

    user-select: none;
}
a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
    color:red;
  }
  
  a:active {
    text-decoration: underline;
    color: black;
  }
.wrapper {
  column-count: 10;
  column-gap: 0vw;
  margin-top: 10vh;
  justify-content: space-around;
  display: block;
  font-family: 'Inter';
  }

.printcoverAttachments:hover {
        position:relative;
        top:-25px;
        left:-35px;
        width:300px;
        height:auto;
        display:block;
        z-index:999;
}

.printcoverAttachments {
    max-width: 30vw;
    height: auto;
    height: 30vh;
    width: 10vw;
  }

.printcover{
    display: none;
}
.datepublished{
    display: none;
}
.value{
    display: none;
}

button#myBtn{
    /* display: block; */
    align-self: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-transform: lowercase;
    font-size: 20px;
    margin-top: 10vh;
    top: 50%;
  transform: translatex(325%);
}


button#myBtn:hover {
  cursor: pointer;
  background-color: black !important;
  color: white;
  transition: all 100ms ease-in-out;
}
.signature{
    font-family: 'Inter';
    font-size: 15px;
    font-style: oblique;
    text-align: center;
    color: grey;
    margin-top: 5vw;
    margin-bottom: 2vw;
}
