@font-face {
    font-family: 'ascii-boldregular';
    src: url('ascii-bold-webfont.woff2') format('woff2'),
         url('ascii-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ascii-lightregular';
    src: url('ascii-light-webfont.woff2') format('woff2'),
         url('ascii-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ascii-mediummedium';
    src: url('ascii-medium-medium-webfont.woff2') format('woff2'),
         url('ascii-medium-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ascii-regularregular';
    src: url('ascii-regular-webfont.woff2') format('woff2'),
         url('ascii-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
    font-family: 'ascii-boldregular';
    font-size: 20px;
}
body{
   background-color: white;
   height: 100%;
   width: auto;
}
.image-one{
    width: 1000px;
    border: 3px;
    border-style: solid;
    border-color: aqua;
}
#justify{
    font-family: monospace;
    font-size: 5px;
    font-weight: bold;
    /* letter-spacing: -1px; */
    /* margin-bottom: 30px; */
    padding: 3px;
}