.image-one{
    font: 50;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    height: fit-content;
    color: red;
}
p{
    font: 50;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify; 
    text-justify: auto;
}