css*
 header {
   text-align: right;
   font-family: chandler-42-regular, sans-serif;
   font-size: 7.5em;
   color: #ff0000;
 }
 h1 {
     text-align: right;
     font-family: chandler-42-regular, sans-serif;
     font-size: 5em;
     color: #ff0000;
 }
 h2 {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 2em;
     color: #ff0000;
 }
 h3 {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 2.5em;
     color: #ff0000;
 }
 h4 {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 2em;
     color: #ff0000;
 }
 h5 {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 1.5em;
     color: #ff0000;
 }
 h6 {
     text-align: center;
     font-family: chandler-42-regular, sans-serif;
     font-size: 1em;
     color: #ff0000;
 }
 p {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 1em;
     color: #ffffff;
 }
 body {
   font-family: chandler-42-regular, sans-serif;
 }
 ul {
     text-align: left;
     font-family: chandler-42-regular, sans-serif;
     font-size: 1em;
     color: #ffffff;
 }
 .wrapper {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     font-size: 7em;
     color: #ffffff;
   }
   .one {
     grid-column: 1 / 3;
     grid-row: 1;
     font-size: 12vw;
     color: #ffffff;
     letter-spacing: -2vw;
     margin-top: 10vh;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
   }
   .two {
     grid-column: 3;
     grid-row: 1;
     font-size: 12vw;
     color: #ffffff;
     letter-spacing: -2vw;
     margin-top: 10vh;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
   }
   .three {
     grid-column: 2;
     grid-row: 2;
     font-size: 12vw;
     color: #ffffff;
     letter-spacing: -2vw;
     text-align: center;
     margin: auto;
     padding: 1vw;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=8);

     border: #ffffff;
     border-style: solid;
     border-radius: 60%;
     width: 30vw;
     height: 23vh;
     box-shadow: #f5f0a9 0 0 10px;
   }
   .four {
     grid-column: 5;
     grid-row: 2;
     font-size: 12vw;
     color: #ffffff;
     letter-spacing: -2vw;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
   }
   .five {
     grid-column: 5;
     grid-row: 3;
     font-size: 12vw;
     color: #ffffff;
     letter-spacing: -2vw;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
   }
   .map {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 7em;
     color: #ffffff;
   }
   .six {
     grid-column: 1;
     grid-row: 2;
   }
   .seven {
     grid-column: 20;
     grid-row: 2;
     font-size: 10vw;
     color: #ffffff;
     letter-spacing: -2vw;
     margin-top: 8vw;
   }
    .doyou {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: proxima-nova, sans-serif;
     font-size: 15em;
     font-weight: bold;
     color: #ffffff;
   }
   .do {
     grid-column: 1;
     grid-row: 2;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 28vw;
     margin-top: -8vw;
     margin-left: 2vw;
     letter-spacing: -2vw;
   }
   .you {
     grid-column: 2;
     grid-row: 2;
     color: #ffffff;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 28vw;
     margin-left: -60vw;
     margin-top: -8vw;
     letter-spacing: -2vw;
   }
   .feel {
     grid-column: 1;
     grid-row: 3;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 28vw;
     margin-left: 2vw;
     margin-top: -7vw;
     letter-spacing: -3vw;
   }
   .anything {
     grid-column: 2;
     grid-row: 5;
     width: 10vw;
     margin-left: -40vw;
     color: #ffffff;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 10vw;
     letter-spacing: -2vw;
    
   }
   .choose {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 15em;
     font-weight: bold;
     color: #ffffff;
   }
   .yes {
     grid-column: 1;
     grid-row: 3;
   }
   .no {
     grid-column: 4;
     grid-row: 3;
     color: #ffffff;
   }
   .tweetone {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     font-size: 2em;
     font-weight: bold;
     color: black;
     margin-top: 3vh;
   }
   .dance {
     grid-column: 2;
     grid-row: 3;
   }
   .keep {
     grid-column: 3;
     grid-row: 5;
     color: black;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 10px;
     filter: glow(color=#f5f0a9,strength=3);
   }
 .tweettwo {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 2em;
     font-weight: bold;
     color: #ffffff;
   }
   .eyes {
     grid-column: 2;
     grid-row: 3;
   }
   .keepp {
     grid-column: 3;
     grid-row: 5;
   }
 .time {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(100px, auto);
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 15em;
     font-weight: bold;
     color: #ffffff;
   }
 .morning {
     grid-column: 2;
     grid-row: 2;
   }

   .blink_me {
     animation: blinker 1.25s linear infinite;
     color: #ffffff;
     font-family: chandler-42-regular, sans-serif;
     text-shadow: #f5f0a9 0 0 5px;
     filter: glow(color=#f5f0a9,strength=3);
     font-size: 13em;
     font-weight: bold;
     grid-column: 2;
     grid-row: 5;
     margin-top: 7vw;
     line-height: 9vw;
   }
  
  
   @keyframes blinker {
     50% {
       opacity: 0;
     }
   }
   .beck {
     grid-column: 2;
     grid-row: 2;
     font-family: proxima-nova, sans-serif;
     font-size: 3em;
     font-weight: bold;
     color: #ffffff;
   }
   .beckk {
     grid-column: 2;
     grid-row: 2;
     font-family: proxima-nova, sans-serif;
     font-size: 3em;
     color: #ffffff;
   }
 .here {
   grid-column: 2;
   grid-row: 3;
   font-family: proxima-nova, sans-serif;
   font-size: 3em;
   font-weight: bold;
   color: #ffffff;
 }
 .textone {
   display: grid;
   font-family: proxima-nova, sans-serif;
   color: #ffffff;
 }
 input,
 label {
     grid-column: 1;
     grid-row: 3;
     margin-right: 60%;
 }

 a:link {
   color: rgb(255, 255, 255); 
   background-color: transparent; 
   text-decoration: none;
 }

 a:visited {
   color: rgb(255, 255, 255); 
   background-color: transparent;
   text-decoration: text-decoration-line;
 }

 a:hover {
   color: rgb(255, 255, 255); 
   background-color: transparent;
   text-decoration: text-decoration-line;
 }

 a:active {
   color: rgb(255, 255, 255); 
   background-color: transparent;
   text-decoration: text-decoration-line;
 }

 .styled {
   background-color: #803a11;
   border: none;
   border-radius: 20px;
   color: rgb(0, 0, 0);
   padding: 0px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }
 .styled:hover {
   background-color: #803a11;
   color: rgb(0, 0, 0);
 }