css*
header {
  text-align: right;
  font-family: proxima-nova, sans-serif;
  font-size: 7.5em;
  color: #ffffff;
}
h1 {
    text-align: right;
    font-family: proxima-nova, sans-serif;
    font-size: 5em;
    color: #ffffff;
}
h2 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    color: #ffffff;
}
h3 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 2.5em;
    color: #ffffff;
}
h4 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    color: #ffffff;
}
h5 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}
h6 {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
    color: #ffffff;
}
p {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
    color: #ffffff;
}
ul {
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
    color: #ffffff;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: proxima-nova, sans-serif;
    font-size: 7em;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }