
body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
  background-image: url(https://www.gannett-cdn.com/presto/2019/06/03/PNJM/aa3e1a6d-53fa-4528-b694-dcbfe5abe601-woodastocckkk.jpg?auto=webp&crop=1023,578,x0,y200&format=pjpg&width=1200);
}

/* i'm using the z index to move the slider on top of the container */

.container {
  z-index: 0;
  display:  grid;
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size:  40px;
  line-height: 15vh;
  align-items: center;
  justify-content: center;
  height: 80vh;
  letter-spacing: 1px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:
    0 0 10px rgb(255, 150, 150),
    0 0 12px rgb(255, 0, 0),
    0 0 32px rgb(255, 0, 0),
    0 0 52px rgb(255, 0, 0);

}
.container-two {
  z-index: 0;
  display: grid;
  flex-direction: column-reverse;
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size:  20px;
  line-height: 4vh;
  align-items: center;
  justify-content:space-evenly;
  letter-spacing: 1px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(197, 195, 195); */
  border-radius: 50%;
  width: 32vw;
  height: 10vh;
  padding: 1vw;
  animation: flicker 1.5s infinite alternate;   
  
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
    0 0 10px rgb(255, 150, 150),
    0 0 12px rgb(255, 0, 0),
    0 0 32px rgb(255, 0, 0),
    0 0 52px rgb(255, 0, 0);
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.slider {
  z-index: 1;
  margin-top: 2em;
  border: 1px solid black;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 500px; /* Specified height */
    height: 50px; /* Specified height */
    background: white; /* background color */
    outline: none; /* Remove outline */
    opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: all .2s;
  }



/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  border: 1px dotted black;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  border-radius: 50%; /* Make it a circle */
  background: OliveDrab; /*  background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: OliveDrab;
  cursor: pointer; /* Cursor on hover */
}


.copy {
  font-family: arial;
  font-size: 100px;
  width:400px;
}

.button {
  z-index: 1;
  margin-top: 2em;
  padding:20px;
  background-color: yellow;
}

.button:hover {
  background-color: green;
  cursor: pointer;
}


.input {
  z-index: 1;
  margin-top: 2em;
  max-width: 280px;
  height: 60px;
  font-size: 36px;
  padding: 10px;
  text-align: center;
}


.birthday {
    font-family: arial;
    font-size: 96px;
    z-index: 1;
    bottom: 20px;
    right: 500px;
    position: absolute;
}