@font-face {    font-family: 'abc-favorit-extended';
    src: url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff');
         url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff') format('woff'),
         url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;
} 
@font-face {    font-family: 'abc-favorit-extended';
    src: url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff');
         url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff') format('woff'),
         url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff2') format('woff2')
    font-weight: light;
    font-style: normal;
} 

body{
    color:beige;
    background-color:rgb(33, 21, 196);
    font-family: 'abc-favorit-extended';
    font-size: 30px;
}
h1{
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 10px;
}
h2{
    font-size: 80px;
    line-height: 60px;
    letter-spacing: -5px;
    margin-bottom: 60%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .heading {
    font-size: 30px; 
    font-weight: 600;
    justify-content: left;
    margin-bottom: 40px;
  }
  
  .entries {
    margin-bottom: 20px;
    align-items: left;
    padding: 5%;
  }
  
  .chapter {
    letter-spacing: 2px;
    font-size: 60px;
  }
  .description{
    font-size: 25px;
  }
  .page{
    font-size: 20px;
  }
  