@font-face {    font-family: 'abc-favorit-extended';
    src: url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff');
         url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff') format('woff'),
         url('../assets/abc-favorit-extended/ABCFavoritExtended-Bold-Trial.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;
} 
@font-face {    font-family: 'abc-favorit-extended';
    src: url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff');
         url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff') format('woff'),
         url('../../assets/abc-favorit-extended/ABCFavoritExtended-Light-Trial.woff2') format('woff2')
    font-weight: light;
    font-style: normal;
} 

body{
    color:beige;
    background-color:rgb(33, 21, 196);
    font-family: 'abc-favorit-extended';
    font-size: 30px;
}
h1{
    font-size: 30px;
    line-height: 30px;
    justify-content: center; 
    align-items: center;
    /* letter-spacing: 10px; */
}
h2{
    font-size: 30px;
    line-height: 30px;
    justify-content: center; 
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(4, 3fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .heading {
    font-size: 30px; 
    font-weight: 600;
    text-align: center;
    margin-top: 30%;
  }
  
  .entries {
    margin-bottom: 20px;
    align-items: left;
    padding: 5%;
    margin: 0%;
    border: aliceblue;
    border-style: solid;
  }
  
  .chapter {
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0%;
    /* border: aliceblue;
    border-style: solid;
    border-radius: 60%; */
    padding: 1%;
    margin-bottom: 20%;
  }
  .description{
    font-size: 30px;
    margin-top: 10%;
  }
  .page{
    font-size: 30px;
    margin: 0%;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color: beige;
  }
  .foot{
    margin-left: 10px;
    grid-column: 2 / 4;
    }
  