html {
    font-size: 20px;
    background: #ff00a6;
  }
  
  body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 6rem;
    font-family: 'Fredoka', sans-serif;
    font-family: 'DotGothic16', sans-serif;
  }
  
.one {
    font-size: 8vw;
    line-height: .9;
    letter-spacing: -0.04em;
    margin-bottom: 2.25rem;
    margin-top: -4vw;
    font-family: 'DotGothic16';
  }
  
  p {
    line-height: 1.5;
    font-family: 'Fredoka';
  }
  h2{
    font-family: 'DotGothic16';
    font-size: 3vw;
    margin-top: -1vh;
  }
  
  sup {
    font-size: 0.5rem;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  blockquote {
    font-family: sans-serif;
    font-weight: 200;
    font-size: clamp(1.25rem, 3vw, 2.25rem);
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'VT323';
  }
  
  ul {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    list-style-type: none;
    padding-left: 1rem;
    font-family: 'Fredoka', sans-serif;
  }
  
  button {
    font-size: 1rem;
    background: white;
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    margin: 2vh;
    display: block;
    width: 10vw;
    font-family: 'Fredoka', sans-serif;
  }
  
  button:hover {
    cursor: pointer;
    color: rgb(255, 0, 128);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .7);

}
  .colorchange{
    font-size: 1rem;
    background: white;
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
  .hello {
    line-height: 1.5;
    margin-top: 2vh;
    font-family: 'Fredoka', sans-serif;
  }
  .hidden{
    display: none;
  }
  
  .w-100{
    width: 10vw;
  }
  
  .mb-10{
    margin-bottom: 10px;
    animation: glowing 2s infinite;
  }
  .button.toggleImage{
    width: 10vw;
    animation: glowing 1ms infinite;
  }
  #ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.616);
    z-index: 1001;
}
#popup {
    width: 555px;
    height: 375px;
    background: #FFFFFF;
    border: 5px solid rgb(255, 0, 191);
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: rgba(145, 92, 182, .7);
    -moz-box-shadow: rgba(145, 92, 182, .7);
    -webkit-box-shadow: rgba(145, 92, 182, .7);
    position: relative;
    top: 150px;
    left: 375px;
}
#popup.h4{
  font-size: 3vw;
  margin: 50%;
}
.clock {
  width: 100px;
  height: 100px;
  background: #f8d8f3;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2vw;
  position: relative;
}

.hand {
  position: absolute;
  bottom: 49.5px;
  left: 49.5px;
  height: 20px;
  border-left: 2px solid black;
  transform-origin: 50% 100%;
}


.hand.minute {
  height: 30px;
}

.hand.second {
  height: 45px;
  border-color: red;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 0, 128);
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}

  @keyframes glowing {
    0% {
      background-color: #ffffff;
      box-shadow: 0 0 20px #ffffff;
    }
    50% {
      background-color: #ffffff;
      box-shadow: 0 0 0px #ffffff;
    }
    100% {
      background-color: #ffffff;
      box-shadow: 0 0 20px #ffffff;
    }
  }


  
  
  